# set kernel version
export TARGET_DEVICE=L01F
export BUILD_MOD=KBC
export BUILD_VERSION=V0.1.0

# set build user and host
export KBUILD_BUILD_VERSION="1"
export KBUILD_BUILD_USER="ma34s3,lawn"
export KBUILD_BUILD_HOST="KBC"

# set kernel option
export KERNEL_BASEADDRESS=0x00000000
export KERNEL_RAMDISK_OFFSET=0x05000000
export KERNEL_TAGS_OFFSET=0x04800000
export KERNEL_CMDLINE="console=ttyHSL0,115200,n8 androidboot.hardware=g2 user_debug=31 msm_rtb.filter=0x0 androidboot.emmc=true androidboot.serialno=02a3b205c88a729c lge.signed_image=true androidboot.baseband=msm vmalloc=600m uart_console=detected lge.rev=rev_10 lcd_maker_id=0 cont_splash_enabled=true gpt androidboot.mode lge.bootreason=0xffffffff lge.kcal ccsecurity lge.hreset=off androidboot.laf androidboot.dlcomplete=0 lge.bnr androidboot.lge.lcdbreak_mode maxcpus=4 usb.diag_enable=true"


case "$BUILD_TARGET" in
  "AOSP" ) export KERNEL_DEFCONFIG=kbc_l01f_aosp_defconfig ;;
  "LGE"  ) export KERNEL_DEFCONFIG=kbc_l01f_defconfig ;;
esac

# ramdisk
if [ "$BUILD_TARGET" = 'RECO' ]; then
  export RAMDISK_SRC_DIR=../l01f_recovery_ramdisk
  export RAMDISK_TMP_DIR=/tmp/l01f_recovery_ramdisk
else
  export RAMDISK_SRC_DIR=../l01f_boot_ramdisk
  export RAMDISK_TMP_DIR=/tmp/l01f_boot_ramdisk
fi

#export USE_LOKI=y
export IMG_MAX_SIZE=23068672 # 22M

export KERNEL_SEPARATED_DT=y
export G2_DTS_TARGET=msm8974-g2-dcm



